{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'forms/css/style.css' %}" />
    <script src="{% static 'forms/bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'forms/js/app.js' %}"></script>
  </head>
  <body ng-app="GithubInput">
    <section class="repo-details" ng-controller="UrlController">
      <article>
        <label>Github repo 1:</label>
        <input type="text" id="id_url1" ng-model="repos[0].url" name="url1">
      </article>
      <article>
        <label>Github repo 2: </label>
        <input type="text" id="id_url2" ng-model="repos[1].url" name="url2">
      </article>
      <button class="get-data" ng-click="getUrl()">Get Github Stats</button>
      <div class="report" ng-show="showContent">
        <div class="repo-stats" ng-repeat="repo in repos">
          <h3>Repository: <span ng-bind="repo.name"></span></h3>
          <ul>
            <li>Stargazers: <span ng-bind="repo.stargazers_count"></span></li>
            <li>Watchers: <span ng-bind="repo.watchers_count"></span></li>
            <li>Forks: <span ng-bind="repo.forks_count"></span></li>
          </ul>
        </div>
        <div class="stat-comparison" ng-show="showSummary">
          <p>Most popular github repo is <span ng-bind="sorted[1].name"></span> with <span ng-bind="sorted[1].stargazers_count"></span> stars, leading <span ng-bind="sorted[0].name"></span> by <span ng-bind="sorted[1].stargazers_count - sorted[0].stargazers_count"></span> stars</p>
        </div>
      </div>
    </section>
  </body>
</html>